<div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN
</div>
<ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item"><a [routerLink]="['/trang-chu']" routerLinkActive="active"
                        class="sidebar-link text-muted"><i class="o-home-1 mr-3 text-gray"></i><span>Trang
                                chủ</span></a></li>
        <li class="sidebar-list-item"><a [routerLink]="['/lich-su']" routerLinkActive="active"
                        class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Lịch sử bài
                                thi</span></a>
        </li>
        <li class="sidebar-list-item"><a [routerLink]="['/bai-thi-moi']" routerLinkActive="active"
                        class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span>Bài thi
                                mới</span></a></li>
        <li class="sidebar-list-item"><a [routerLink]="['/bang-xep-hang']" routerLinkActive="active"
                        class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>Bảng
                                xếp hạng</span></a>
        </li>
</ul>
<div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">
        Quản lý hệ thống</div>
<ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item"><a [routerLink]="['/danh-sach-nguoi-dung']" routerLinkActive="active"
                        class="sidebar-link text-muted"><i class="o-database-1 mr-3 text-gray"></i><span>Danh sách người
                                dùng</span></a></li>
        <li class="sidebar-list-item"><a [routerLink]="['/tao-nguoi-dung']" routerLinkActive="active"
                        class="sidebar-link text-muted"><i class="o-imac-screen-1 mr-3 text-gray"></i><span>Tạo người
                                dùng</span></a></li>
        <li class="sidebar-list-item"><a [routerLink]="['/quan-ly-cau-hoi']" routerLinkActive="active"
                        class="sidebar-link text-muted"><i class="o-paperwork-1 mr-3 text-gray"></i><span>Quản lý câu
                                hỏi</span></a></li>
</ul>