<section class="mt-5 p-3 card">
    <div class="mb-3 form-control-label font-weight-bold text-lg text-uppercase text-center text-danger">Hãy Chọn Chủ Đề
        Mà Bạn Muốn Thi</div>
</section>
<section class="py-5">
    <div class="row">
        <div class="col-md-6 mb-4 mb-xl-0">
            <div onclick="navigationHref('/test-paper/listening-new-test',208)"
                class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between bg-hover-gradient-violet cursor">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-violet"></div>
                    <div class="text">
                        <h6 class="mb-0">Con Người</h6><span class="text-gray">208 Câu Hỏi</span>
                    </div>
                </div>
                <div class="icon text-white bg-violet"><i class="fas fa-user-friends"></i></div>
            </div>
        </div>
        <div class="col-md-6 mb-4 mb-xl-0">
            <div onclick="navigationHref('/test-paper/reading-new-test',911)"
                class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between bg-hover-gradient-success cursor">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-green"></div>
                    <div class="text">
                        <h6 class="mb-0">Cây Cỏ</h6><span class="text-gray">911 Câu Hỏi</span>
                    </div>
                </div>
                <div class="icon text-white bg-green"><i class="fas fa-seedling"></i></div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mb-4 mb-xl-0">
            <div onclick="navigationHref('/test-paper/speaking-new-test',2,true)"
                class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between bg-hover-gradient-blue cursor">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-blue"></div>
                    <div class="text">
                        <h6 class="mb-0">Loài Vật</h6><span class="text-gray">123 Câu Hỏi</span>
                    </div>
                </div>
                <div class="icon text-white bg-blue"><i class="fas fa-paw"></i></div>
            </div>
        </div>
        <div class="col-md-6 mb-4 mb-xl-0">
            <div onclick="navigationHref('/test-paper/writing-new-test',224,true)"
                class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between bg-hover-gradient-red cursor">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-red"></div>
                    <div class="text">
                        <h6 class="mb-0">Đời Sống</h6><span class="text-gray">224 Câu Hỏi</span>
                    </div>
                </div>
                <div class="icon text-white bg-red"><i class="fas fa-feather-alt"></i></div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mb-4 mb-xl-0 mx-auto">
            <div onclick="navigationHref('/test-paper/speaking-new-test',2,true)"
                class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between bg-hover-gradient-warning cursor">
                <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-warning"></div>
                    <div class="text">
                        <h6 class="mb-0">Tổng Hợp</h6><span class="text-gray">100 Câu Hỏi</span>
                    </div>
                </div>
                <div class="icon text-white bg-warning"><i class="fab fa-android"></i></div>
            </div>
        </div>
    </div>
</section>