<div class="row my-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="h6 text-uppercase mb-0">Tạo người dùng mới</h3>
            </div>
            <div class="card-body">
                <form action="/user-management/create-user" class="form-horizontal" enctype="multipart/form-data"
                    method="post" novalidate="novalidate">
                    <div class="form-group row pb-3">
                        <label class="col-md-3 form-control-label">Cập nhật ảnh đại diện</label>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-12">
                                    <div class="rounded-border">
                                        <div class="text-center mb-3">
                                            <img id="user-avatar-preview" src="/assets/img/no_avatar.png" alt="User avatar"
                                                class="img-fluid rounded-circle shadow"
                                                style="width:150px; height: 150px;">
                                        </div>
                                        <div class="text-center">
                                            <input type="file" name="userAvatar" id="user-avatar-picker"
                                                onchange="userAvatarPicked(this)" hidden="">
                                            <button type="button" class="btn btn-info"
                                                onclick="$('#user-avatar-picker').click();">Chọn ảnh đại diện</button>
                                        </div>
                                        <small class="form-text text-danger mr-3"><span class="field-validation-valid"
                                                data-valmsg-for="Avatar" data-valmsg-replace="true"></span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Tên hiển thị</label>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control" data-val="true"
                                        data-val-maxlength="The field FirstName must be a string or array type with a maximum length of '15'."
                                        data-val-maxlength-max="15"
                                        data-val-minlength="The field FirstName must be a string or array type with a minimum length of '1'."
                                        data-val-minlength-min="1" data-val-required="The FirstName field is required."
                                        id="FirstName" maxlength="15" name="FirstName" placeholder="First name"
                                        type="text" value="">
                                    <small class="form-text text-danger mr-3"><span class="field-validation-valid"
                                            data-valmsg-for="FirstName" data-valmsg-replace="true"></span></small>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" data-val="true"
                                        data-val-maxlength="The field LastName must be a string or array type with a maximum length of '30'."
                                        data-val-maxlength-max="30"
                                        data-val-minlength="The field LastName must be a string or array type with a minimum length of '1'."
                                        data-val-minlength-min="1" data-val-required="The LastName field is required."
                                        id="LastName" maxlength="30" name="LastName" placeholder="Last Name" type="text"
                                        value="">
                                    <small class="form-text text-danger mr-3"><span class="field-validation-valid"
                                            data-valmsg-for="LastName" data-valmsg-replace="true"></span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Giới tính</label>
                        <div class="col-md-9">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="gender-code-1" type="radio" class="custom-control-input" value="1" checked=""
                                    data-val="true" data-val-required="The Gender field is required." name="Gender">
                                <label for="gender-code-1" class="custom-control-label">Nam</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="gender-code-2" type="radio" class="custom-control-input" value="2"
                                    name="Gender">
                                <label for="gender-code-2" class="custom-control-label">Nữ</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="gender-code--1" type="radio" class="custom-control-input" value="-1"
                                    name="Gender">
                                <label for="gender-code--1" class="custom-control-label">Khác</label>
                            </div>
                        </div>
                        <small class="form-text text-danger mr-3"><span class="field-validation-valid"
                                data-valmsg-for="Gender" data-valmsg-replace="true"></span></small>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Ngày sinh</label>
                        <div class="col-md-9">
                            <div role="wrapper"
                                class="gj-datepicker gj-datepicker-bootstrap gj-unselectable input-group"><input
                                    type="text" id="datepicker" class="form-control" data-val="true"
                                    data-val-required="The BirthDay field is required." name="BirthDay" value=""
                                    data-type="datepicker" data-guid="b72515f4-1ea3-54c0-2c92-b6bc519c93be"
                                    data-datepicker="true" role="input" day="2020-11-13"></div>
                            <small class="form-text text-danger mr-3"><span class="field-validation-valid"
                                    data-valmsg-for="BirthDay" data-valmsg-replace="true"></span></small>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Tên đăng nhập</label>
                        <div class="col-md-9">
                            <input class="form-control" data-val="true"
                                data-val-maxlength="The field Username must be a string or array type with a maximum length of '30'."
                                data-val-maxlength-max="30"
                                data-val-minlength="The field Username must be a string or array type with a minimum length of '5'."
                                data-val-minlength-min="5" data-val-required="The Username field is required."
                                id="Username" maxlength="30" name="Username" placeholder="tên đăng nhập" type="text"
                                value="">
                            <small class="form-text text-danger mr-3"><span class="field-validation-valid"
                                    data-valmsg-for="Username" data-valmsg-replace="true"></span></small>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Email</label>
                        <div class="col-md-9">
                            <input class="form-control" data-val="true"
                                data-val-email="The Email field is not a valid e-mail address."
                                data-val-maxlength="The field Email must be a string or array type with a maximum length of '125'."
                                data-val-maxlength-max="125"
                                data-val-minlength="The field Email must be a string or array type with a minimum length of '4'."
                                data-val-minlength-min="4" data-val-required="The Email field is required." id="Email"
                                maxlength="125" name="Email" placeholder="email@comanpy.domain" type="email" value="">
                            <small class="form-text text-danger mr-3"><span class="field-validation-valid"
                                    data-valmsg-for="Email" data-valmsg-replace="true"></span></small>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Mật khẩu</label>
                        <div class="col-md-9">
                            <input class="form-control" data-val="true"
                                data-val-maxlength="The field HashPassword must be a string or array type with a maximum length of '128'."
                                data-val-maxlength-max="128"
                                data-val-minlength="The field HashPassword must be a string or array type with a minimum length of '8'."
                                data-val-minlength-min="8" data-val-required="The HashPassword field is required."
                                id="HashPassword" maxlength="128" name="HashPassword" placeholder="mật khẩu"
                                type="password">
                            <small class="form-text text-danger mr-3"><span class="field-validation-valid"
                                    data-valmsg-for="HashPassword" data-valmsg-replace="true"></span></small>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Chọn quyền của người dùng</label>
                        <div class="col-md-9 ml-auto select">
                            <select class="form-control rounded" name="userTypes">
                                <option value="ROLE_NORMAL_USER" selected="">Người quản trị</option>
                                <option value="ROLE_MANAGER_LIBRARY">Người dùng</option>
                            </select>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                        </div>
                    </div>
                    <input name="__RequestVerificationToken" type="hidden"
                        value="CfDJ8Hlq356NxrVMsFGLbsTsBV9fR2Xv-2ZAurhp8dl10nE1dEBOvwew6wiISnBz1Hlbpt2r8HDiCiK4ivtt7-DfOtVqCzPQOgXttesrGVdfvCFPkBqwe5LA8nWcE-K2oIyZcBqvkSOtefMHFk91-k_iZFnrC2NWuXhQwrnWJUDgsj1oPyDjcQHr5_UMhSmZGswr3w">
                </form>
            </div>
        </div>
    </div>
</div>