<div class="row my-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <h6>Danh Sách Chủ Đề</h6>
                    <button type="button" data-toggle="modal" data-target="#TestCategory_Create"
                        class="btn btn-primary ml-auto" (click)="getAllKetQua()">Thêm</button>
                </div>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/test?type=ALL"
                                class="bg-white shadow roundy px-2 py-3 h-100 d-flex align-items-center justify-content-between bg-hover-gradient-info "
                                data-toggle="tooltip" data-placement="bottom" title=""
                                data-original-title="Total tests you have performed">
                                <div class="flex-grow-1 d-flex align-items-center">
                                    <div class="icon text-white mx-2 bg-info"><i class="fas fa-server"></i></div>
                                    <div class="text">
                                        <h6 class="mb-0">Tất cả bài thi</h6><span class="text-gray"><small>12
                                                bài thi</small></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/test?type=LISTENING"
                                class="bg-white shadow roundy px-2 py-3 h-100 d-flex align-items-center justify-content-between bg-hover-gradient-violet "
                                data-toggle="tooltip" data-placement="bottom" title=""
                                data-original-title="Total listening tests that you have taken">
                                <div class="flex-grow-1 d-flex align-items-center">
                                    <div class="icon text-white mx-2 bg-violet"><i class="fas fa-user-friends"></i>
                                    </div>
                                    <div class="text">
                                        <h6 class="mb-0">Con Người</h6><span class="text-gray"><small>3
                                                bài thi</small></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/test?type=READING"
                                class="bg-white shadow roundy px-2 py-3 h-100 d-flex align-items-center justify-content-between bg-hover-gradient-green "
                                data-toggle="tooltip" data-placement="bottom" title=""
                                data-original-title="Total reading tests that you have taken">
                                <div class="flex-grow-1 d-flex align-items-center">
                                    <div class="icon text-white mx-2 bg-green"><i class="fas fa-seedling"></i></div>
                                    <div class="text">
                                        <h6 class="mb-0">Cây Cỏ</h6><span class="text-gray"><small>2
                                                bài thi</small></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/test?type=SPEAKING"
                                class="bg-white shadow roundy px-2 py-3 h-100 d-flex align-items-center justify-content-between bg-hover-gradient-blue "
                                data-toggle="tooltip" data-placement="bottom" title=""
                                data-original-title="Total speaking tests that you have taken">
                                <div class="flex-grow-1 d-flex align-items-center">
                                    <div class="icon text-white mx-2 bg-blue"><i class="fas fa-paw"></i></div>
                                    <div class="text">
                                        <h6 class="mb-0">Loài Vật</h6><span class="text-gray"><small>1
                                                bài thi</small></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/test?type=WRITING"
                                class="bg-white shadow roundy px-2 py-3 h-100 d-flex align-items-center justify-content-between bg-hover-gradient-red "
                                data-toggle="tooltip" data-placement="bottom" title=""
                                data-original-title="Total writing tests that you have taken">
                                <div class="flex-grow-1 d-flex align-items-center">
                                    <div class="icon text-white mx-2 bg-red"><i class="fas fa-star-of-life"></i></div>
                                    <div class="text">
                                        <h6 class="mb-0">Đời Sống</h6><span class="text-gray"><small>3
                                                bài thi</small></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/test?type=TEST_ALL"
                                class="bg-white shadow roundy px-2 py-3 h-100 d-flex align-items-center justify-content-between bg-hover-gradient-warning "
                                data-toggle="tooltip" data-placement="bottom" title=""
                                data-original-title="Total general tests that you have taken">
                                <div class="flex-grow-1 d-flex align-items-center">
                                    <div class="icon text-white mx-2 bg-warning"><i class="fab fa-android"></i></div>
                                    <div class="text">
                                        <h6 class="mb-0">Tổng hợp</h6><span class="text-gray"><small>3
                                                bài thi</small></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <div class="d-inline-block">
                            <h6 class="text-uppercase">
                                Tất cả bài thi
                            </h6>
                            <p class="text-gray mb-md-0">Tổng số bài kiểm tra của bạn đã thực hiện</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <form action="/test" class="form-inline float-md-right" method="get"> <input type="hidden"
                                name="type" value="ALL">
                            <div class="input-group">
                                <input type="text" placeholder="Từ khóa" class="form-control" name="searchKey" value="">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">1. Vào lúc 16:42 30/11/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-red">
                                Đời Sống </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto"
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(1,304);">
                                4/10 </button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(304)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">2. Vào lúc 22:17 28/10/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-red">
                                Đời Sống </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto"
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(1,296);">
                                9/10 </button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(296)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">3. Vào lúc 22:15 28/10/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-warning">
                                Tổng Hợp </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto "
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(5,295);">
                                0/10 </button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(295)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">4. Vào lúc 07:32 22/10/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-green">
                                Cây Cỏ </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto "
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(-1,286);">
                                0/10 </button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(286)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">5. Vào lúc 15:48 21/10/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-violet">
                                Con Người </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto"
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(5,278);">
                                6/10</button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(278)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">6. Vào lúc 09:46 18/10/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-warning">
                                Tổng Hợp </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto"
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(1,255);">
                                3/10 </button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(255)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">7. Vào lúc 10:37 17/10/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-warning">
                                Tổng Hợp </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto "
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(1,251);">
                                3/10 </button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(251)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">8. Vào lúc 10:03 17/10/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-red">
                                Đời Sống </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto "
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(1,250);">
                                7/10 </button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(250)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">9. Vào lúc 10:01 17/10/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-violet">
                                Con Người </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto "
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(-1,249);">
                                6/10 </button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(249)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">10. Vào lúc 09:57 17/10/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-blue">
                                Loài Vật </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto "
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(1,248);">
                                6/10 </button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(248)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">11. Vào lúc 09:53 17/10/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-green">
                                Cây Cỏ </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto "
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(-1,247);">
                                9/10 </button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(247)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <h6 class="mb-0" style="font-family: Tahoma">12. Vào lúc 09:51 17/10/2020</h6>
                        </div>
                        <div
                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="roundy w-100 text-center py-1 mr-0 mt-2 mt-lg-0 text-white exclode float-lg-left text-sm bg-violet">
                                Con Người </div>
                        </div>
                        <div
                            class="col-lg-6 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <button type="button" class="btn btn-outline-green float-lg-right ml-auto "
                                data-toggle="modal" data-target="#instructor_comment_model"
                                onclick="loadInstructorCommentContent(-1,246);">
                                9/10 </button>
                            <button type="button" class="btn btn-info float-lg-right ml-2" onclick="review(246)">Ôn
                                Tập</button>
                        </div>
                    </div>
                </div>



                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item active"><a class="page-link" href="/test?page=1&amp;type=ALL">1</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>