<div class="row my-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="text-uppercase">Danh Sách Tất Cả Người Dùng</h6>
                        <button (click)="UpdateUser('nva123', 'asd', 0)" >An</button>
                        <p class="text-gray mb-md-0">Danh sách tất cả người dùng trong hệ thống</p>
                    </div>
                    <div class="col-md-6">
                        <form action="/user-management" class="form-inline float-md-right" method="get">
                            <div class="form-group">
                                <label for="inlineFormInputGroup" class="sr-only">Từ khóa</label>
                                <input id="inlineFormInputGroup" type="text" placeholder="Từ khóa"
                                    class="mr-3 form-control" name="searchKey">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <img src="/assets/img/avatar-1.jpg" alt="ql cau hoi" style="max-width: 3rem"
                                class="rounded-circle mr-3 my-2 my-lg-0 top-avatar"
                                onerror="this.onerror=null; this.src='assets/img/avatar-1.jpg'">
                            <h6 class="mb-0" style="font-family: Tahoma">Admin1</h6>
                        </div>
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode float-lg-left">
                                Người Quản Trị
                            </div>
                        </div>
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <a href="/user-management/update-user/8"
                                class="btn btn-warning float-lg-right ml-lg-auto text-white">Sửa</a>
                            <button type="button" class="btn btn-red float-lg-right ml-2"
                                onclick="deleteConfirm(8, 'ql cau hoi')">Xóa</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <img src="/assets/img/avatar-2.jpg" alt="Quản lý HV" style="max-width: 3rem"
                                class="rounded-circle mr-3 my-2 my-lg-0 top-avatar"
                                onerror="this.onerror=null; this.src='/assets/img/avatar-2.jpg'">
                            <h6 class="mb-0" style="font-family: Tahoma">Admin2</h6>
                        </div>
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode float-lg-left">
                                Người Quản TRị
                            </div>
                        </div>
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <a href="/user-management/update-user/7"
                                class="btn btn-warning float-lg-right ml-lg-auto text-white">Sửa</a>
                            <button type="button" class="btn btn-red float-lg-right ml-2"
                                onclick="deleteConfirm(7, 'Quản lý HV')">Xóa</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <img src="/assets/img/avatar-3.jpg" alt="Vũ Nam Hải" style="max-width: 3rem"
                                class="rounded-circle mr-3 my-2 my-lg-0 top-avatar"
                                onerror="this.onerror=null; this.src='/assets/img/avatar-3.jpg'">
                            <h6 class="mb-0" style="font-family: Tahoma">Admin3</h6>
                        </div>
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode float-lg-left">
                                Người Quản Trị
                            </div>
                        </div>
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <a href="/user-management/update-user/6"
                                class="btn btn-warning float-lg-right ml-lg-auto text-white">Sửa</a>
                            <button type="button" class="btn btn-red float-lg-right ml-2"
                                onclick="deleteConfirm(6, 'Vũ Nam Hải')">Xóa</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <img src="/assets/img/avatar-4.jpg"
                                alt="Developer Nguyễn" style="max-width: 3rem"
                                class="rounded-circle mr-3 my-2 my-lg-0 top-avatar"
                                onerror="this.onerror=null; this.src='/assets/img/avatar-4.jpg'">
                            <h6 class="mb-0" style="font-family: Tahoma">Người Chơi 1</h6>
                        </div>
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode float-lg-left">
                                Người Dùng
                            </div>
                        </div>
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <a href="/user-management/update-user/5"
                                class="btn btn-warning float-lg-right ml-lg-auto text-white">Sửa</a>
                            <button type="button" class="btn btn-red float-lg-right ml-2"
                                onclick="deleteConfirm(5, 'Developer Nguyễn')">Xóa</button>
                        </div>
                    </div>
                </div>
                <div href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                    <div class="row">
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <img src="/assets/img/avatar-5.jpg"
                                alt="Developer Nguyễn" style="max-width: 3rem"
                                class="rounded-circle mr-3 my-2 my-lg-0 top-avatar"
                                onerror="this.onerror=null; this.src='/assets/img/avatar-5.jpg'">
                            <h6 class="mb-0" style="font-family: Tahoma">Người chơi 2</h6>
                        </div>
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <div
                                class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode float-lg-left">
                                Người Dùng
                            </div>
                        </div>
                        <div
                            class="col-lg-4 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                            <a href="/user-management/update-user/5"
                                class="btn btn-warning float-lg-right ml-lg-auto text-white">Sửa</a>
                            <button type="button" class="btn btn-red float-lg-right ml-2"
                                onclick="deleteConfirm(5, 'Developer Nguyễn')">Xóa</button>
                        </div>
                    </div>
                </div>
                



                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item active"><a class="page-link"
                                href="/user-management?page=1&amp;type=all">1</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>